$primary-color: #780000;
$secundary-color: #fdf0d5;
$button-color: #c1121f;

.body {
  background-image: url('../../../assets/fundo-patinha.png');
  //height: 100%;
}

.container-card {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid $primary-color;

  .mat-card {
    width: 900px;
    height: 350px;
    margin: 50px 0;
    border-radius: 15px;
    border: solid 3px $primary-color;
    //background-image: linear-gradient($button-color, $secundary-color);
    background-color: $secundary-color;
    display: flex;
    flex-direction: column;
    align-items: center;


    .cardTitle {
      color: $primary-color;
      font-size: 1.8rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      height: 50px;
    }

    .cardContainer {
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .mat-form{
        width: 40%;
      }

      .selectTop{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .selectMid{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .selectBottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .btn-card{
        //margin-bottom: -20px;
        width: 180px;
        height: 35px;
        font-size: 20px;
        background-image: linear-gradient($primary-color, $button-color);
        color: $secundary-color;
      }
    }


  }
  @media (max-width: 950px){

    .mat-card {
      width: 480px;
    }
  }
}

.body2 {
  background-image: linear-gradient(transparent, $primary-color);
  
  .title-pets {
    display: flex;
    justify-content: center;

    div {
      border: 2px solid $primary-color;
      border-radius: 0 0 10px 10px;
      border-top: 0;
      background-color: #780000;
      width: 200px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      span {
        color: $secundary-color;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 150px;
  border-top: 3px solid $secundary-color;
  background-color: #780000;
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.f-1 {
  width: 100%;
  display: flex;
  height: 70px;

  span {
    color: $secundary-color;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.f-2 {
  width: 100%;
  display: flex;
  height: 70px;

  span {
    color: $secundary-color;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

.title-f {
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  span{
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: bold;
    color: $secundary-color;
    margin: 0 8px 0 10px;
  }

  .iconTolbar {
    font-size: 3rem;
    color: $secundary-color;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary-color;
};

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $primary-color;
}

::ng-deep .mat-form-field-label {
  color: $primary-color;
  font-size: 15px !important;
};

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:$primary-color;
}

::ng-deep .mat-select-arrow  {
  color: $primary-color;
}

::ng-deep .mat-select-arrow:focus {
  color: $primary-color;
}



