<body>

  <div class="body">

    <app-header></app-header>
    <app-sidenav></app-sidenav>

    <div class="container-card">
      <mat-card class="mat-card">
        <mat-card-title class="cardTitle">
          Procure seu Pet!
        </mat-card-title>

        <mat-card-content class="cardContainer">
          <div class="selectTop">
            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Estado</mat-label>
              <mat-select name="estado" [(ngModel)]="estadoSelecionado" [disabled]="mostraTodos">
                <mat-option *ngFor="let estado of estados" [value]=estado>
                  {{estado}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Porte</mat-label>
              <mat-select name="porte" [(ngModel)]="porteSelecionado" [disabled]="mostraTodos">
                <mat-option *ngFor="let porte of portes" [value]=porte>
                  {{porte}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="selectMid">
            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Cidade</mat-label>
              <mat-select name="cidade" [(ngModel)]="cidadeSelecionada" [disabled]="mostraTodos">
                <mat-option *ngFor="let cidade of cidades" [value]=cidade>
                  {{cidade}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Sexo</mat-label>
              <mat-select name="sexo" [(ngModel)]="sexoSelecionado" [disabled]="mostraTodos">
                <mat-option *ngFor="let sex of sexo" [value]=sex>
                  {{sex}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="selectBottom">
            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Espécie</mat-label>
              <mat-select name="especie" [(ngModel)]="especieSelecionada" [disabled]="mostraTodos">
                <mat-option *ngFor="let especie of especies" [value]=especie>
                  {{especie}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="mat-form">
              <mat-label>Mostrar todos? (opcional)</mat-label>
              <mat-select name="all" [(ngModel)]="allSelecionado">
                <mat-option *ngFor="let opt of all" [value]=opt (click)="allControl()">
                  {{opt}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button mat-raised-button class="btn-card" (click)="procurarPets()">
            Procurar
            <i class="material-icons">search</i>
          </button>

        </mat-card-content>

      </mat-card>
    </div>
  </div>

<div class="body2">
  <div class="title-pets">
    <div>
      <span>
        Pets Disponíveis
      </span>
    </div>
  </div>
  <app-display-pets [petsAll]="allPets"></app-display-pets>

  <section class="footer">
    <mat-nav-list class="nav-list">
    <div class="f-1">
      <a mat-list-item class="list-item inicial" routerLink=''>
        <span>Pagina Inicial</span>
      </a>

      <a mat-list-item class="list-item" routerLink='/quem-somos'>
        <span>Quem somos?</span>
      </a>

      <a mat-list-item class="list-item" [routerLink]="['/achados-perdidos/perdido']">
        <span>Perdi meu Pet!</span>
      </a>
    </div>

    <div class="f-2">
      <a mat-list-item class="list-item" [routerLink]="['/achados-perdidos/achado']">
        <span>Achei um Pet!</span>
      </a>

      <a mat-list-item class="list-item" [routerLink]="['/informacoes']">
        <span>Contatos</span>
      </a>

      <a mat-list-item class="list-item" [routerLink]="['/duvidas']">
        <span>Por que adotar?</span>
      </a>
    </div>

    </mat-nav-list>


    <div class="title-f">
      <span> Adota </span>
      <i class="material-icons iconTolbar">pets</i>
      <span> Pets </span>
    </div>

  </section>
</div>

</body>
