$primary-color: #780000;
$secundary-color: #fdf0d5;
$button-color: #c1121f;

body {
  background-image: url('../../../assets/fundo-patinha.png');
  //height: 100%;
}

.container-card {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;

  .mat-card {
    width: 900px;
    height: 430px;
    margin: 50px 0;
    border-radius: 15px;
    border: solid 3px $primary-color;
    //background-image: linear-gradient($button-color, $secundary-color);
    background-color: $secundary-color;
    display: flex;
    flex-direction: column;
    align-items: center;


    .cardTitle {
      color: $primary-color;
      font-size: 35px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      height: 50px;
    }

    .cardContainer {
      width: 100%;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .mat-form{
        width: 380px;
      }

      .selectTop{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .selectMid{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .selectBottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
      }

      .btn-card{
        margin-bottom: -20px;
        width: 180px;
        height: 45px;
        font-size: 20px;
        background-image: linear-gradient($primary-color, $button-color);
        color: $secundary-color;
      }
    }


  }
  @media (max-width: 950px){

    .mat-card {
      width: 480px;
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary-color;
};

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $primary-color;
}

::ng-deep .mat-form-field-label {
  color: $primary-color;
  font-size: 15px !important;
};

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:$primary-color;
}

::ng-deep .mat-select-arrow  {
  color: $primary-color;
}

::ng-deep .mat-select-arrow:focus {
  color: $primary-color;
}



