<app-header></app-header>

<div class="container-card">
  <mat-card class="mat-card">
    <mat-card-title class="cardTitle">
      Procure seu Pet
    </mat-card-title>

    <mat-card-content class="cardContainer">
      <div class="selectTop">
        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="selectMid">
        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="selectBottom">
        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Favorite food</mat-label>
          <mat-select  name="food">
            <mat-option >

            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </mat-card-content>

  </mat-card>
</div>


