<body>

  <app-header></app-header>
  <app-sidenav></app-sidenav>

  <div class="img-container">
    <div class="img">

      <mat-card class="card">
          <mat-card-header>
              <mat-card-title class="titulo">Sobre nós...</mat-card-title>

          </mat-card-header>

          <mat-card-content class="content">
            Buscando melhorar a situação crítica em que estamos passando ultimamente em relação ao abandono de animais, nós da Adota Pets estamos a sua disposição. Procurando facilitar o caminho de pessoas que querem adotar um amigo, nosso sistema trabalha de acordo com seu desejo, você que está em busca de um novo amiguinho poderá pesquisar e achar com facilidade vários animais dóceis livres para adoção responsável.
            Temos também um sistema para tratar de casos de perca do seu pet ou caso você achar algum pet poderá recorrer a nós para que as medidas de cuidado sejam feitas rapidamente.
            No conforto de sua casa ou de onde estiver, poderá ter acesso a todas as ferramentas que disponibilizamos a você, sendo assim não precisará sair de casa para ver e escolher o seu novo melhor amigo.
            Desejamos que encontre o pet perfeito pra você e que dê a ele muito amor e carinho.

          </mat-card-content>

      </mat-card>

    </div>

  </div>


</body>
