<body>

  <app-header></app-header>
  <app-sidenav></app-sidenav>

  <div class="img-container">
    <div class="img">

      <mat-card class="card">
          <mat-card-header>
              <mat-card-title class="titulo">Sobre nós...</mat-card-title>

          </mat-card-header>

          <mat-card-content class="content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Earum ut voluptatibus eius ipsa ipsum. Ipsa, repudiandae eveniet
                maxime quibusdam nemo cum dolor minus dolorum voluptatem
                 sunt magni deleniti error libero?
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Ipsum totam odio mollitia! Quisquam, provident voluptatum
                temporibus necessitatibus hic tempore veniam fugit eveniet
                 reprehenderit ex ipsa ducimus praesentium? Modi, dolorem dolor?
                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Ipsum totam odio mollitia! Quisquam, provident voluptatum
                temporibus necessitatibus hic tempore veniam fugit eveniet
                 reprehenderit ex ipsa ducimus praesentium? Modi, dolorem dolor?
          </mat-card-content>

      </mat-card>

    </div>

  </div>


</body>
