<mat-toolbar class="toolbar d-flex">
  <button mat-button (click)="ativaSidenav()">
    <i class="material-icons menu"> menu </i>
  </button>

  <a routerLink="">
    <div >
      <span> Adota </span>
      <i class="material-icons iconTolbar">pets</i>
      <span> Pets </span>
    </div>
  </a>
  <button mat-stroked-button class="login" routerLink="/login">
    <i class="material-icons"> exit_to_app </i>
    Login
  </button>
</mat-toolbar>

<section *ngIf="openSide" [class.fadeInDown]="controlFadeDown" [class.fadeOutUp]="controlFade">
  <mat-nav-list class="nav-list">

    <a mat-list-item class="list-item inicial" routerLink=''>
      <span>Pagina Inicial</span>
    </a>

    <a mat-list-item class="list-item" routerLink='/quem-somos'>
      <span>Quem somos?</span>
    </a>

    <a mat-list-item class="list-item" [routerLink]="['/achados-perdidos/perdido']">
      <span>Perdi meu Pet!</span>
    </a>

    <a mat-list-item class="list-item" [routerLink]="['/achados-perdidos/achado']">
      <span>Achei um Pet!</span>
    </a>

    <a mat-list-item class="list-item" [routerLink]="['/informacoes']">
      <span>Contatos</span>
    </a>

    <a mat-list-item class="list-item" [routerLink]="['/duvidas']">
      <span style="margin-left: 28px;">Por que adotar?</span>
    </a>

  </mat-nav-list>
</section>
