<body>

  <app-header-login></app-header-login>

  <mat-toolbar class="toolbar">

    <div class="content-info" [class.border-focus]="controlBorder === 1" (click)="navega('1')">
      <i class="material-icons">apps</i>
      <span>Informações gerais</span>
    </div>

    <div class="content-info" [class.border-focus]="controlBorder === 2" (click)="navega('2')">
      <i class="material-icons">queue</i>
      <span>Adicionar</span>
    </div>

    <div class="content-info" [class.border-focus]="controlBorder === 3" (click)="navega('3')">
      <i class="material-icons" [matBadge]="notifyCount" matBadgeOverlap="false">error</i>
      <span>Avisos</span>
    </div>

  </mat-toolbar>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</body>
