<section>
  <div class="title"><span>Olá!</span></div>
  <div class="mid">
    <span>Nós da <span>Adota <i class="material-icons iconTolbar">pets</i> Pets</span> ficamos felizes que você queira colaborar com um mundo 
    melhor para os nossos pets. E se você realmente tem condições de nos ajudar, pedimos 
    encarecidamente que nos mande um E-mail ou uma mensagem por WhatsApp se apresentando e explicando como poderá nos ajudar nessa caminhada.</span>
  </div>
  <div class="footer">
    <div class="email">
      <i class="material-icons">email</i>
      <span>appadotapets@gmail.com</span>
    </div>
    <div class="zap">
      <a href="https://api.whatsapp.com/send?phone={{16992866610}}" target="_blank">
        <button mat-raised-button class="whats">
          <i class="fa fa-whatsapp"></i>
        </button>
      </a>
    </div>
  </div>
</section>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="cancel">Cancelar</button>
</mat-dialog-actions>