<div class="card-container">
  <mat-card class="card">
    <div class="chart">

    </div>
    <!-- <p-chart type="pie" [data]="data" [options]="chartOptions" ></p-chart> -->

    <div class="info-box">
      <div class="title-ctn">
        <span>Atualizações</span>
      </div>
      <div class="ong">
        <span>ONG: <strong>{{23}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Cadastrados: <strong>{{animaisTotal}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Adotados: <strong>20</strong></span>
      </div>
      <hr>
      <div>
        <span>Ativos: <strong>46</strong></span>
      </div>
      <hr>
      <div>
        <span>Cachorros/Gatos: <strong>73/23</strong></span>
      </div>
    </div>
  </mat-card>
</div>
