<div class="card-container">
  <mat-card class="card">
    <p-chart type="pie" [data]="data" [options]="chartOptions" ></p-chart>

    <div class="info-box">
      <h1>Total de animais cadastrados: {{animaisTotal}}</h1>
      <h3 class="h3">Animais cadastrados no último mês: <strong>23</strong> </h3>
      <h3>Média mensal de animais cadastrados: <strong>20</strong> </h3>
      <h3>Saída de animais para adoção: <strong>46</strong> </h3>
      <h3>Total geral de cadastros: <strong>73</strong> </h3>
    </div>
  </mat-card>
</div>
