<div class="card-container">
  <mat-card class="card">
    <div class="chart">

    </div>
    <!-- <p-chart type="pie" [data]="data" [options]="chartOptions" ></p-chart> -->

    <div class="info-box">
      <div class="title-ctn">
        <span style="display: flex;"> <i class="material-icons">sync</i>&nbsp; Atualizações</span>
      </div>
      <div class="ong">
        <span>ONG: <strong>{{dataOng?.nome}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Cadastrados: <strong>{{dataOng?.cadastrados}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Adotados: <strong>{{dataOng?.adotados}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Ativos: <strong>{{dataOng?.cadastrados - dataOng?.adotados}}</strong></span>
      </div>
      <hr>
      <div>
        <span>Cachorros/Gatos: <strong>{{dataOng?.cachorros + ' / ' + dataOng?.gatos}}</strong></span>
      </div>
    </div>
  </mat-card>
</div>
