<body>

  <app-header></app-header>
  <app-sidenav></app-sidenav>

  <div class="div-container">
    <mat-card class="card">
      <mat-card-header class="header">
        <h1>
          Contatos
          <i class="material-icons">call</i>
        </h1>
      </mat-card-header>

      <mat-card-content class="content">
        <span class="email">
          <i class="material-icons">email</i>
          appadotapets@gmail.com
        </span>

        <div class="icones">

          <a href="https://www.facebook.com/AppAdotaPets/" target="_blank"><i class="material-icons">facebook</i></a> 
          <a href="https://api.whatsapp.com/send?phone=+55016992866610" target="_blank"><i class="fa fa-whatsapp"></i></a> 
          <a href="https://www.instagram.com/appadotapets/" target="_blank"><i class="fa fa-instagram"></i></a> 
          <a href="https://twitter.com/AdotaPets" target="_blank"><i class="fa fa-twitter"></i></a> 

        </div>
      </mat-card-content>

    </mat-card>
    <button mat-fab>
      <i class="material-icons">pets </i>
    </button>
  </div>

</body>
