<body>

  <app-header></app-header>
  <app-sidenav></app-sidenav>

  <div class="div-container">
    <mat-card class="card">
      <mat-card-header class="header">
        <h1>
          Contatos
          <i class="material-icons">call</i>
        </h1>
      </mat-card-header>

      <mat-card-content class="content">
        <span class="email">
          Email@adotaPets.com.br
        </span>

        <div class="icones">

          <i class="material-icons">facebook</i>
          <i class="material-icons">facebook</i>
          <i class="material-icons">facebook</i>
          <i class="material-icons">facebook</i>

        </div>
      </mat-card-content>

    </mat-card>
    <button mat-fab>
      <i class="material-icons">pets </i>
    </button>
  </div>

</body>
