$primary-color: #780000;
$secundary-color: #faf2e3ec;
$button-color: #c1121f;

body {
  background-image: url('../../../assets/fundo-patinha.png');

  .card-container {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
      margin-top: 10px;
      width: 70%;
      height: 535px;
      border: 2px solid $primary-color;
      border-radius: 15px;
      background-color: $secundary-color;

      .header {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 30px;
          color: $primary-color;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 800;
        }

        i {
          margin-top: -20px;
          margin-right: -10px;
          color: $primary-color;
          font-size: 65px;
          cursor: pointer;
        }
      }

      .steper {
        background-color: #faf2e318;
        //border: 2px dashed $primary-color;
        border-radius: 15px;

        .primeira-div {
          margin-top: 20px;
        }

        .div-container {
          width: 100%;
          display: flex;
          justify-content: space-around;

          .form-field {
            width: 45%;
          }

        }

        .text-container {
          width: 100%;
          display: flex;
          justify-content: center;

          .textarea {
            width: 95%;
          }
        }

        .images {
          width: 250px;
          height: 90px;
          position: absolute;
          border: 1px solid #780000;
          border-radius: 5px;
          margin-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #efefef;

          section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow: auto;

            .img-btn {
              margin-top: 5px;
              width: 80%;
              height: 32px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: 1px solid gray;
              border-radius: 5px;

              span {
                margin-left: 5px;
                font-size: .8rem;
                font-weight: bold;
              }

              .subgroup {
                display: flex;
                flex-direction: row;

                .btn-eye {
                  margin-right: 5px;
                  width: 25px;
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  outline: none;
                  border: 1px solid #780000;
                  border-radius: 3px;
                  background-color: #ffffff;
  
                  i {
                    font-size: .9rem;
                    color: #780000;
                  }
                }
  
                .btn-close {
                  margin-right: 5px;
                  width: 25px;
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  outline: none;
                  border: 1px solid $secundary-color;
                  border-radius: 3px;
                  background-color: $primary-color;
                  font-size: .9rem;
                  font-weight: bold;
                }
              }
            }
          }

        }

        .img-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          span {
            color: black;
            font-weight: bolder;
            font-size: 18px;
            margin-bottom: 15px;
          }

          .btn {
            box-sizing: border-box;
            background-color: white;
            color: $primary-color;
            border: 1px solid $primary-color;
          }
        }

        .div-client {
          width: 100%;
          margin-top: 50px;
          display: flex;
          justify-content: space-around;

          .div-interior {
            width: 100%;
            display: flex;
            align-items: center;

            i {
              font-size: 35px;
              color: $primary-color;
              margin-right: 7px;
              margin-bottom: 15px;
            }

            .form-field-client {
              width: 85%;
            }
          }
        }

        .next {
          width: 130px;
          color: white;
          background-color: $primary-color;
          float: right;
          margin-right: -20px;
          margin-top: -25px;
        }

        .buttons {
          margin-top: 100px;
          display: flex;
          justify-content: space-between;
          width: 100%;

          .prox {
            margin-right: -17px;
            width: 130px;
            color: white;
            background-color: $primary-color;
            margin-top: -40px;
          }

          .antes {
            margin-left: -17px;
            width: 130px;
            color: $primary-color;
            background-color: white;
            border: 1px solid $primary-color;
            margin-top: -40px;
          }
        }

        .step-finish{
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          flex-direction: column;

          .card-finish {
            width: 40%;
            height: 60%;
            border-radius: 15px 15px 0 0;
            border: 2px solid $primary-color;

            .content-finish {
              width: 100%;
              height: 50%;

              section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                  i {
                    color: $primary-color;
                    font-size: 38px;
                  }
                }

                span {
                  font-weight: 500;
                  color: black;
                  font-size: 18px;

                  mark {
                    background-color: white;
                    color: $primary-color;
                    font-weight: bolder;
                  }

                  h2 {
                    font-weight: bolder;
                  }
                }
              }
            }
          }

          .button-div {
            width: 40%;

            button {
              width: 100% !important;
              height: 50px;
              border-radius: 0 0 15px 15px;
              color: white;
              font-size: 1rem;
              background-color: $primary-color;
            }
          }

          .div-button {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            //margin-top: 58px;

            .anterior {
              margin-left: -17px;
              width: 130px;
              color: $primary-color;
              background-color: white;
              border: 1px solid $primary-color;
            }
          }
        }
      }
    }
  }
}

.title-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: .9rem;
    color: gray;
    font-weight: bold;
  }
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: $primary-color;
};

@media (max-width: 450px) {
  .card-container {
    .card {
      width: 95% !important;
      margin-top: 30px !important;

      .header {
        i {
          font-size: 3rem !important;
        }
      }
    }

    .title {
      font-size: 1.3rem !important;
    }

    ::ng-deep .mat-horizontal-content-container {
      padding: 0px !important;
    }
  }

  .images {
    position: relative !important;
    height: 50px !important;
    margin-left: 10px !important;
  }

  .img-container {
    display: block !important;
    margin-left: 10px !important;

    span {
      display: none !important;
    }
  }

  .next {
    margin-right: 0px !important;
    width: 80px !important;
  }

  .div-client {
    flex-direction: column !important;
    margin-top: 0px !important;
  }

  .steper {
    .buttons {
      margin-top: 50px !important;
      display: flex;
      justify-content: space-evenly !important;
      width: 100% !important;
    }
  }

  .card-finish {
    width: 95% !important;
    height: 280px !important;
  }

  .button-div {
    width: 95% !important;
  }

  .anterior {
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
}