<body>
  <app-header></app-header>
  <app-sidenav></app-sidenav>

  <div class="card-container">

    <mat-card class="card">
      <mat-card-title class="cabecalho">
        <img src="../../../assets/dog-perdido.jpg" alt="Cachorro Perdido">
      </mat-card-title>

      <mat-card-content class="content">
        <h1>Abandono...</h1>
        <div>
          Muitos animais encontram-se abandonados e passando diversas dificuldades, incluindo fome, sede e frio.
          Além de abusos que sofrem de pessoas nas ruas.
        </div>
      </mat-card-content>
    </mat-card>

    <i class="fa fa-arrow-right"></i>

    <mat-card class="card">
      <mat-card-title class="cabecalho">
        <img src="../../../assets/cachorro-gato-pets.jpg" alt="Cachorro Perdido">
      </mat-card-title>

      <mat-card-content class="content">
        <h1>Um novo lar...</h1>
        <div>
          Nós podemos mudar essa situação de abandono com a adoção.
          Com um novo lugar pra morar, os pets ficam seguros e alimentados,
           cheios de amor pra dar ao seu dono.
        </div>
      </mat-card-content>
    </mat-card>

    <i class="fa fa-arrow-right"></i>

    <mat-card class="card">
      <mat-card-title class="cabecalho">
        <img src="../../../assets/dog-feliz.jpg" alt="Cachorro Perdido">
      </mat-card-title>

      <mat-card-content class="content">
        <h1>Felicidade transborda...</h1>
        <div>
          Depois que eles acham um novo lar, é facil ver a felicidade estampada na carinha deles.
          Agora tudo que precisam fazer é se preocupar em brincar e curtir sua nova vida.
        </div>
      </mat-card-content>
    </mat-card>

  </div>

</body>
