<div class="container">
  <h2 mat-dialog-title class="titulo">Achou ou perdeu seu pet?</h2>
  <mat-dialog-content class="content">
    <span>
      <h2>
        Fique tranquilo!
        <i class="fas fa-smile-wink"></i>
      </h2>
      <span style="color: black; font-size: 18px;">
        Nós da Adota Pets vamos te ajudar neste processo.
        Preencha os campos corretamente e clique em Próximo até chegar na etapa final.
        Na ultima etapa clique em finalizar para que nós tenhamos conhecimento de seu
        processo e possamos ajudar o mais rapido possivel.
      </span>
    </span>
  </mat-dialog-content>
</div>
