<section>
  <div class="ctn-span">
    <span class="notify">Notificações</span>
  </div>
  <mat-card>
      <span *ngIf="notifyAdocao.length === 0">
        Sem notificações até o momento!
      </span>
      <section class="session" *ngIf="notifyAdocao.length > 0">
        <div *ngFor="let obj of notifyAdocao" class="divider">
          <div>
            <i class="material-icons pointer" [ngClass]="{'pointer-on': obj.ativo, 'pointer-off': !obj.ativo}">fiber_manual_record</i>
            <span class="adota">ADOÇÃO</span>
          </div>
          <span>{{obj.name}}</span>
          <span>{{obj.city}}</span>
          <span>{{obj.phone}}</span>
          <button mat-flat-button (click)="openNotify(obj)">Ver Mais</button>
        </div>
      </section>
      <hr *ngIf="notifyAchado.length > 0" style="width: 100%;">
      <section class="session" *ngIf="notifyAchado.length > 0">
        <div *ngFor="let obj1 of notifyAchado" class="divider">
          <div>
            <i class="material-icons pointer" [ngClass]="{'pointer-on': obj1.ativo, 'pointer-off': !obj1.ativo}">fiber_manual_record</i>
            <span class="adota">ACHADOS</span>
          </div>
          <span>{{obj1.name}}</span>
          <span>{{obj1.city}}</span>
          <span>{{obj1.phone}}</span>
          <button mat-flat-button (click)="openNotify(obj1)">Ver Mais</button>
        </div>
      </section>
      <hr *ngIf="notifyPerdido.length > 0" style="width: 100%;">
      <section class="session" *ngIf="notifyPerdido.length > 0">
        <div *ngFor="let obj2 of notifyPerdido" class="divider">
          <div>
            <i class="material-icons pointer" [ngClass]="{'pointer-on': obj2.ativo, 'pointer-off': !obj2.ativo}">fiber_manual_record</i>
            <span class="adota">PERDIDOS</span>
          </div>
          <span>{{obj2.name}}</span>
          <span>{{obj2.city}}</span>
          <span>{{obj2.phone}}</span>
          <button mat-flat-button (click)="openNotify(obj2)">Ver Mais</button>
        </div>
      </section>
  </mat-card>
</section>
