$primary-color: #780000;
$secundary-color: #fdf0d5;

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed $primary-color;

    span {
      color: rgb(155, 154, 154);
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
.session {
  display: flex;
  flex-direction: column;

  .divider {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $primary-color;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #ebeaea;

    span {
      width: 15%;
      font-size: .9rem;
      color: #0C0C0C;
    }

    button {
      background-color: $primary-color;
      color: $secundary-color;
      width: 100px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .divider:hover {
    background-color: #bfbfbf;
  }
}
