<section>
  <div class="ctn-span">
    <span class="notify">Notificações</span>
  </div>
  <mat-card>
      <span *ngIf="!allNotifications">
        Sem notificações até o momento!
      </span>
      <section class="session">
        <div *ngFor="let obj of notify" class="divider">
          <span>{{obj.name}}</span>
          <span>{{obj.city}}</span>
          <span>{{obj.address}}</span>
          <span>{{obj.phone}}</span>
          <button mat-flat-button (click)="openNotify(obj)">Ver Mais</button>
        </div>
      </section>
  </mat-card>
</section>
